<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    margin: 0;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10em;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  .content {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    font-size: 30vw;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase !important;
    line-height: 100vh;
    mix-blend-mode: screen;
  }

  .darkBG {
    background-color: #333;
  }

  /* Responsive Styles */

</style>

<div class="content" role="main">
<div class="home">
  <video id="video" autoplay muted="true" loop>
    <source src="../assets/video.mp4" type="video/mp4">
  </video>
  <h2>Video</h2>
</div>
  <!-- Footer -->
  <footer>
  </footer>

</div>